/* 색 */
#div-scroll-main {
  background: linear-gradient(to right bottom, #f97c22 20%, #fffdfd 20%);
}



#div-scroll-main {
  display: block;

  padding-top: 30px;
  padding-left: 30px;
}

#div-scroll-main-child {
  height: 100%;
  overflow-y: auto;
  /* overflow-y: hidden; */
}

#row-main {
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
}

::-webkit-scrollbar {
  display: none;
}

#row-main {
  width: 80%;
}

#input-search:hover {
  cursor: pointer;
}

.main-image {
  width: 500px;
  object-fit: cover;
}

#div-main-carousel {
  width: 500px;
}

#div-btn-to-create-study {
  float: right;
  position: sticky;
  bottom: 50px;
  right: 50px;
}



/* ver. 1 */
#div-search {
  position: relative;
  height: 85%;
  padding-left: 30px;
  padding-top: 30px;
}

#div-search-input-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#input-search {
  border-radius: 100px;
  width: 500px;
  padding: 10px;
  padding-left: 20px;
}




/* ver. 2 */
/* #input-search {
  border-radius: 100px;
  width: 500px;
  padding: 10px;
  padding-left: 20px;
}*/