.mypage-link {
  text-decoration: none;
  color: #686a6d;
}

a.mypage-link:hover {
  color: #0d6efd;
}

ul {
  list-style: none;
  position: relative;
  padding-left: 17px;
  margin: 10px 0px 10px 1px;
}

ul ::before {
  content: '>';
  position: absolute;
  left: 0;
}

.form-control {
  margin: 10px 0px 5px;
}
