.div-layout-lower-2-custom{
    float: left;
    height: 100%;
    flex: 1 0 auto;
    padding: 30px;
}

#div-grid {
    display: grid;
    width: 70%;

    /* grid-template-rows: 1fr fr 2fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;

    grid-template-areas:
        "div-info       div-info        div-info        div-info        div-info"
        "div-calendar   div-calendar    div-calendar    div-calendar    ."
        "div-calendar   div-calendar    div-calendar    div-calendar    div-chat"
        "div-btn        div-btn         div-btn         div-btn         div-video"
    ;
}

#div-info {
    grid-area: div-info;
    display: flex;
}

#div-calendar {
    grid-area: div-calendar;
}

#div-chat {
    grid-area: div-chat;
}

#div-btn {
    grid-area: div-btn;
    display: flex;

}

#div-video {
    grid-area: div-video;
    width: 100%;
}

#div-video Button {
    width: 100%;
}