.div-layout-lower-2-custom{
    float: left;
    width: 100%;
    height: 100%;
}


#div-grid-members {
    display: grid;
    width: 80%;
    height: min-content;

    grid-template-columns: 1fr 1fr;
    gap: 10px;

    grid-template-areas:
        "div-members        div-members"
        "div-table-attend   div-table-asgmt"
    ;
}

#div-members {
    grid-area: div-members;
    padding: 30px;
}

#div-leader {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

#div-leader-nick {
    margin-left: 10px;
    padding-top: 3px; 
    font-size: 20px;
}

#div-table-asgmt {
    grid-area: div-table-asgmt;
    overflow-x: auto;
    margin: 30px;
    padding: 30px;
}

#div-table-attend {
    grid-area: div-table-attend;
    overflow-x: auto;
    margin: 30px;
    padding: 30px;
}

