.div-page-header {
    margin-bottom: 20px;
}

.div-component-header {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

#div-studylog {
    flex-direction: column;
}

#div-minutes {
    margin-bottom: 60px;
}

#div-attendance {
    margin-bottom: 60px;
}

/* 그리드 */

#div-log-grid {
    display: grid;

    width: 90%;

    grid-template-areas:
        "div-minutes    div-minutes     div-attendance"
        "div-minutes    div-minutes     div-assignment "
    ;
} 

#div-log-editor {
    border: 1px solid rgb(154, 148, 148);
    padding: 10px;
}

#div-minutes {
    grid-area: div-minutes;
    padding: 2px;
    display:block;
    width: 100%;
}

#div-attendance {
    grid-area: div-attendance;
    width: 100%;
    margin-left: 100px;
}  

#div-assignment {
    grid-area: div-assignment;
    width: 80%;
    margin-left: 100px;
}