.div-layout-upper-2 {
    width: 100%;
    height: 100vh;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.main-container {
    display: grid;
    background-color: #212A3E;
    grid-row: 1 / 10;
    grid-column: 1 / 6;
}

.videochat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.videochat-room {
    padding: 10px;
}

#video-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

video {
    object-fit: cover;
    padding: 10px;
}

.button-container {
    grid-row: 10 / 11;
    grid-column: 1 / 6;
    background-color: #394867;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
}

.button-container .div-meet-info {
    color: white;
    font-size: 20px;
    display: flex;
    justify-self: flex-start;
}

.button-container .div-button-grid {
    display: flex;
    margin: 0 auto;
    /* justify-self: center;
  flex-grow: 1;
  justify-content: center;
  align-items: center; */
}

#mic-btn {
    margin-left: 10px;
    margin-right: 10px;
}

#camera-btn {
    margin-left: 10px;
    margin-right: 10px;
}

#exit-btn {
    margin-left: 10px;
    margin-right: 10px;
}

#chat-btn {
    margin-left: 10px;
    margin-right: 10px;
}

/* .chat-container {
    grid-row: 1 / 8;
    grid-column: 5 / 6;
    background-color: grey;
} */

#chat-room {
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

#chat-content {}

.enter-message {
    /* align-self: end; */
    /* align-items: flex-end; */
    /* margin-top: auto; */
}