.fc-day-mon a, 
.fc-day-tue a,
.fc-day-wed a,
.fc-day-thu a,
.fc-day-fri a { color: rgb(0, 0, 0); }

.fc-day-sat a {
    color: rgb(0, 0, 201);
}

.fc-day-sun a {
    color: rgb(226, 0, 0);
}

#div-comp-calendar {
    position: relative;
}

#div-comp-add-event {
    position: absolute;
    z-index: 3;
    background-color: aliceblue;
}

