#entire-chat-div {
  display: flex;
  flex-direction: column;
  height: 500px;
}

.chat-notice-tab {
  justify-content: flex-start;
}

#chatArea, #noticeArea {
  height: 90%;
  overflow-y: auto;
  flex-direction: column-reverse;
}

/* 채팅창과 입력칸 분리 */
#div-tab-chat, #div-tab-notice {
  position: relative;
  height: 62vh;

  display: block;
}

.Chat-input-div, .Notice-input-div {
  /* justify-content: flex-end; */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.Chat-input-div input, .Notice-input-div input {
  width: 75%;
}

/* 비회원용 채팅 */
.guestSection{
  display : flex;
  justify-content : center;
  align-items : center;
}


/* .Chat-div-info {
  margin-bottom: 6px;
}

.Chat-span-usernick {
  margin-right: 4px;
  color: '#4a4848';
}

.Chat-span-datetime {
  color: '#c2c2c2';
}

.Chat-div-content {
  background-color: '#ffffff';
  color: '#4a4848';
  padding: 10px 20px;
} */
