#div-layout-black {
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 45px;
    
    background-color: #0C134F;
    /* background-color:rgb(0, 0, 0); */
    height: 100%;
}

#div-layout-black h1{
    color: white;
}